<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
               <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="WeSupply_Toolbox::APISettings" title="WeSupply Configuration" sortOrder="100" />
                        </resource>
                    </resource>
                </resource>

                <resource id="WeSupply_Toolbox::WeSupply" title="WeSupply" >
                    <resource id="WeSupply_Toolbox::Toolbox_Label" sortOrder="100" title="WeSupply" >
                        <resource id="WeSupply_Toolbox::Toolbox" sortOrder="10" title="Configuration" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
