<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\Sales\Block\Order\History" type="WeSupply\Toolbox\Block\History"/>-->
    <!--<preference for="Magento\Sales\Block\Order\Recent" type="WeSupply\Toolbox\Block\Recent"/>-->
</config>
